@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfaf4;
    color: #332b24;
    width: 100%;
}

h1 {
    font-family: 'Patrick Hand SC', serif;
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-family: 'Patrick Hand SC', serif;
    text-align: center;
    font-size: 2rem;
}
