main {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 25px;
    margin-top: 150px;
}

main img {
    width: 400px;
    height: fit-content;
}

main div h2 {
    padding: 0 75px;
    line-height: 1;
}

h1 {
    margin-top: 0px;
    margin-bottom: 15px;
}

#section-inclus {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.inclus {
    padding-left: 30px;
}

.inclus:nth-child(2) {
    padding-left: 75px;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    margin-left: 40px;
    text-decoration: underline;
}

.title:nth-child(3) {
    margin-top: 50px;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    font-size: 18px;
    hyphens: auto;
}

.mobile-title {
    display: none;
}

/* Quand l'écran fait moins de 1250px, on cache la navbar desktop et on affiche la navbar mobile */
@media (max-width: 1250px) {
    main {
        flex-direction: column;
    }
    .mobile-title {
        display: block;
    }
    .title {
        display: none;
    }
    main img {
        align-self: center;
        width: 75% !important;
        object-fit: cover;
    }

    #section-inclus {
        width: 85%;
        margin: auto;
    }

    main div h1 {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    main div p {
        padding: 0 25px;
        text-align: left;
    }

    .inclus {
        padding-left: 0px;
    }
    .inclus:nth-child(2) {
        padding: 0;
    }
    .subtitle {
        margin-left: 0px;
    }
}

@media (min-width: 800px) and (max-width: 1250px) {
    main img {
        width: 40% !important; 
        height: auto !important; 
        object-fit: contain;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    main img {
        width: 60% !important; 
        height: auto !important; 
        object-fit: contain;
    }
}

@media (max-width: 800px) {
    #section-inclus {
        flex-direction: column;
    }

    .inclus {
        width: 90%;
    }

    .title:first-child {
        margin-top: 10px;
    }

    .title {
        margin-bottom: 5px;
        margin-top: 0px;
        margin-left: 15px;
    }
    .title:nth-child(3) {
        margin-top: 25px;
    }

    main img {
        object-fit: contain;
    }
}