main {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 125px;
}

main img {
    width: 400px;
    object-fit: contain;
}

main div h1 {
    font-size: 2rem !important;
}

main div h2 {
    padding-left: 75px;
    line-height: 1.25;
    margin-bottom: 0px;
    font-size: 1.5rem !important;
}

main div p {
    padding-left: 50px;
    text-align: justify;
    line-height: 1.75;
    font-size: 16px;
    hyphens: auto;
}

h3 {
    font-family: 'Raleway', serif;
    font-size: 1.5rem;
    line-height: 40px;
    margin-top: 50px;
    text-align: center;
}

.title-mobile {
    display: none;
}

/* Quand l'écran fait moins de 1250px, on cache la navbar desktop et on affiche la navbar mobile */
@media (max-width: 1250px) {
    .title-mobile {
        display: block;
    }
    .title {
        display: none;
    }
    main {
        flex-direction: column;
    }

    main img {
        align-self: center;
        width: 75% !important;
        height: 500px !important;
        object-fit: cover;
    }

    main div {
        width: 75%;
        margin: auto;
    }

    main div h1 {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    main div p {
        padding-left: 0px;
        font-size: 18px;    
    }

    main div h2 {
        padding-left: 0px;
    }
}

/* Section transformations */
#transformations {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.carousel-container {
    position: relative;
    max-width: 700px;
    height: 75vh;
    overflow: hidden;
    margin: auto;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    .carousel-container {
      max-width: 700px;
    }
  }
  
  @media (max-width: 800px) {
    .carousel-container {
      max-width: 600px;
    }
  }
  
  @media (max-width: 700px) {
    .carousel-container {
      max-width: 500px;      
      height: 65vh;
    }
  }
  
  @media (max-width: 600px) {
    .carousel-container {
      max-width: 400px;
      height: 55vh;
    }
  }
  
  @media (max-width: 500px) {
    .carousel-container {
      max-width: 300px;
      height: 45vh;
    }
  }

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}

.carousel-slide.active {
    opacity: 1;
}

.before {
    opacity: 1;
}

.after {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.after.visible {
    opacity: 1;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 2s ease-in-out;
}

.carousel-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.control {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.control.active {
    background-color: #332b24;
}
